.button {
	display: inline-block;
	border-radius: 15px;
	background-color: #e835a5;
	color: #FFF;
	padding: 15px 25px 15px 25px;
	font-size: 14pt;
	cursor: pointer;
}

.button:HOVER{
	background-color: #FFF;
	color: #e835a5;
}